<nav class="navbar navbar-light bg-dark justify-content-between">
    <a href="/" class="navbar-brand text-white">Cheerio</a>
    <a href="/articles/saved" style="margin-left: auto; padding-right: 10px;"><button class="btn btn-primary my-2 my-sm-0">Saved Articles</button></a>
    {{!-- <a href="/scrape"><button class="btn btn-danger my-2 my-sm-0 scrapeBtn">Scrape New Articles</button></a> --}}
</nav>